<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
  <!-- Location Permissions -->
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>This app needs location access to detect iBeacon devices and show them on the map.</string>
  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  <string>This app needs location access to track iBeacon devices even when the app is in the background.</string>
  <!-- Bluetooth Permissions -->
  <key>NSBluetoothPeripheralUsageDescription</key>
  <string>This app needs Bluetooth access to detect iBeacon devices and other BLE devices.</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>This app needs Bluetooth access to detect iBeacon devices and other BLE devices.</string>
  <!-- Privacy settings -->
  <key>ITSAppUsesNonExemptEncryption</key>
  <false/>
  <key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>location</string>
		<string>bluetooth-peripheral</string>
		<string>nearby-interaction</string>
		<string>external-accessory</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>This app adds and updates your caregiving tasks in Calendar.</string>
</dict>
</plist>
